<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.github.url }}/assets/libs/bootstrap/bootstrap.min.css">
 <script defer src="{{ site.github.url }}/assets/libs/fontawesome/all.min.js"></script>
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.github.url }}/assets/apple-icon-152x152.png">
  <link rel="shortcut icon" href="{{ site.github.url }}/assets/favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
<script>
 MathJax = {
    loader: {load: ['input/tex-base','[tex]/ams','[tex]/newcommand','[tex]/configmacros']},
    tex: {
      // CRITICAL: Load the empheq package, along with the standard ams package
      packages: {'[+]': ['ams','base', 'newcommand', 'configmacros']},
      // OPTIONAL BUT RECOMMENDED: Enables AMS-style equation numbering (1.1, 1.2, etc.)
      // If you don't want automatic numbering, you can set this to 'none'.
      tags: 'ams' ,
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]
    },
    // RENDERER: Use the modern CHTML renderer for better performance and CSS styling
    chtml: {
      displayAlign: 'left', // Aligns displayed math to the left (common in modern texts)
      displayIndent: '0em'
    },
    // OTHER CONFIGURATIONS
    options: {
      // This tells MathJax to ignore content inside the custom DIVs created by your plugin
      // If your plugin's environments are not protected, you may need a more explicit ignore.
      ignoreHtmlClass: 'tex2jax_ignore',
      processHtmlClass: 'tex2jax_process'
    }
  };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
