<div class="row g-5 mb-5">
    <div>
        <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
        {% if page.title == "Home" %}
        <h5>Computational Design</h5>
        <p><a href="https://doi.org/10.3390/f12121662"><b>Lipkowitz, G.</b> Hennum, K.S. Piva, E. and Schofield, E.
                (2021)
                “Numerical Modelling of moisture loss during controlled drying of marine archaeological wood” Forests
                2021,
                12(12), 1662</a></p>

        <p><a href="https://pubmed.ncbi.nlm.nih.gov/35602181/">Lee BJ, Hsiao K, <b>Lipkowitz G</b>, Samuelsen T, Tate L,
                DeSimone JM.
                "Characterization of a 30 µm pixel size CLIP-based 3D printer and its enhancement through dynamic
                printing
                optimization." Addit Manuf. 2022 Jul.</a></p>

        <h5>Biodesign</h5>
        <p><a href="https://www.nature.com/articles/s41467-017-00200-8">Winer, B.Y., Huang, T.S., Pludwinski, E.,
                Wojcik, F.
                <b>Lipkowitz, G.
                </b>, Parekh, A., Cho, C., Shrirao, A., Muir, T., Novik, E., Ploss, A. (2017) “Long-term persistent
                hepatitis B
                virus infection in a scalable micro-well primary hepatocyte coculture system” Nature Communications,
                8:125. </a>
        </p>

        <p><a href="https://www.jbc.org/article/S0021-9258(20)35012-2/fulltext">Magoro, T. Dandekar, A.,
                Jennelle, L. Bajaj, R. <b>Lipkowitz,
                    G.</b>
                Angelucci, A. Bessong, P. and Hahn, Y. (2019) “IL-1β/TNF-α/IL-6 inflammatory cytokines promote
                STAT1-dependent
                induction of CH25H in zika virus-infected human macrophages” J. Biol. Chem. </a></p>

        <p><a href="https://www.ncbi.nlm.nih.gov/pubmed/31206195">Winer, B.Y. Gaska, J. <b>Lipkowitz,
                    G.</b> Bram, Y. Parekh, A. Parsons, L. Leach, R. Jindal, R. Cho, C. Shrirao, A. Novik, E. Schwartz,
                R. Ploss,
                A.
                (2019) “Transcriptomic analysis of acute and chronic HBV and HBV/HDV co-infections in self-assembling
                primary
                human hepatocyte co-cultures” Hepatology. </a></p>

        <p><a
                href="https://www.researchgate.net/publication/322449570_Persistent_Hepatitis_B_virus_infection_in_self-assembling_microscale_primary_hepatocyte_co-culture">Winer,
                B.Y. Parekh, A. Heller, B. <b>Lipkowitz, G.</b> Guo, R. Cho, C. Shrirao, A. Pludwinski, E. Novik, E.
                Ploss, A.
                (2018)
                “Persistent Hepatitis B virus infection in self-assembling microscale primary hepatocyte co-culture”
                Drug
                Metabolism and Pharmacokinetics.</a></p>
        {% else %}

        <h5>Computational Design</h5>
        <p><a href="https://doi.org/10.3390/f12121662"><b>Lipkowitz, G.</b> Hennum, K.S. Piva, E. and Schofield, E.
                (2021)
                “Numerical Modelling of moisture loss during controlled drying of marine archaeological wood” Forests
                2021,
                12(12), 1662</a></p>

        <p><a href="https://pubmed.ncbi.nlm.nih.gov/35602181/">Lee BJ, Hsiao K, <b>Lipkowitz G</b>, Samuelsen T, Tate L,
                DeSimone JM.
                "Characterization of a 30 µm pixel size CLIP-based 3D printer and its enhancement through dynamic
                printing
                optimization." Addit Manuf. 2022 Jul.</a></p>

        <h5>Biodesign</h5>
        <p><a href="https://www.nature.com/articles/s41467-017-00200-8">Winer, B.Y., Huang, T.S., Pludwinski, E.,
                Wojcik, F.
                <b>Lipkowitz, G.
                </b>, Parekh, A., Cho, C., Shrirao, A., Muir, T., Novik, E., Ploss, A. (2017) “Long-term persistent
                hepatitis B
                virus infection in a scalable micro-well primary hepatocyte coculture system” Nature Communications,
                8:125. </a>
        </p>

        <p><a href="http://www.jbc.org/content/early/2019/08/02/jbc.RA119.007555.full.pdf">Magoro, T. Dandekar, A.,
                Jennelle, L. Bajaj, R. <b>Lipkowitz,
                    G.</b>
                Angelucci, A. Bessong, P. and Hahn, Y. (2019) “IL-1β/TNF-α/IL-6 inflammatory cytokines promote
                STAT1-dependent
                induction of CH25H in zika virus-infected human macrophages” J. Biol. Chem. </a></p>

        <p><a href="https://www.ncbi.nlm.nih.gov/pubmed/31206195">Winer, B.Y. Gaska, J. <b>Lipkowitz,
                    G.</b> Bram, Y. Parekh, A. Parsons, L. Leach, R. Jindal, R. Cho, C. Shrirao, A. Novik, E. Schwartz,
                R. Ploss,
                A.
                (2019) “Transcriptomic analysis of acute and chronic HBV and HBV/HDV co-infections in self-assembling
                primary
                human hepatocyte co-cultures” Hepatology. </a></p>

        <p><a
                href="https://www.researchgate.net/publication/322449570_Persistent_Hepatitis_B_virus_infection_in_self-assembling_microscale_primary_hepatocyte_co-culture">Winer,
                B.Y. Parekh, A. Heller, B. <b>Lipkowitz, G.</b> Guo, R. Cho, C. Shrirao, A. Pludwinski, E. Novik, E.
                Ploss, A.
                (2018)
                “Persistent Hepatitis B virus infection in self-assembling microscale primary hepatocyte co-culture”
                Drug
                Metabolism and Pharmacokinetics.</a></p>

        <h5>Conferences</h5>
        <p>Stanford Bio-X Seed Grants Symposium (Stanford CA, August 2022)</p>

        <p>Additive Manufacturing of Soft Materials,
            Gordon Research Conference (Ventura CA, August 2022)</p>

        <p>Solid Freeform Fabrication Symposium (Austin TX USA, July 2022)</p>

        <p>3D Printing-enabled Polymeric Composites and Hybrid Systems, American Chemical Society (San Diego CA USA,
            March 2022)</p>

        {% endif %}
    </div>
</div>