<a id="research" class="text-decoration-none" style="color: #212529;" href="#research">
    <h3 class="fw-bold mb-3">Research</h3>
</a>
<hr />


<div class="row g-5 mb-5">
    <div class="col-md-6">
        <div class="papertitle" style="margin-bottom: 4px">
            <strong>10.	🌱 Rice field segmentation and phenological stage identification of UAV images [Paper, 2022.11]</strong>
        </div>
        <p class="paragraph" style="margin-bottom: 10px">
            We Utilize semantic segmentation for segmenting rice field and classifying phrenology simultaneously,
            and Employed ghost convolution to optimize and accelerate bilateral segmentation networks.
        </p>
        <div class="btn-links" style="margin-bottom: 10px">
            <a class="btn btn-outline-primary btn-sm" href="https://github.com/HobbitArmy/PaddySeg" target="_blank"
                rel="noopener">
                GitHub
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <img src="{{ site.baseurl }}/assets/img/r10_paddySeg.jpg" alt="r10_paddySeg" class="prjimage" width="100%">
    </div>
</div>
<hr />

<div class="row g-5 mb-5">
    <div class="col-md-8">
        <div class="papertitle" style="margin-bottom: 4px"><strong>
            9.	🗺️ Direct Geo-locating of UAV image and efficient feature sampling method [Paper, 2022.07]
            </strong></div>
        <p class="paragraph" style="margin-bottom: 10px">
            Located the traits in original UAV image directly based on camera parameters and central projection model.
            Designed an efficient trait mapping workflow with incremental sparse sampling.
        </p>
        <div class="btn-links" style="margin-bottom: 10px">
            <a class="btn btn-outline-primary btn-sm" href="https://github.com/HobbitArmy/PaddySeg" target="_blank"
                rel="noopener">
                GitHub
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <img src="{{ site.baseurl }}/assets/img/r9_dgl.png" alt="r9_dgl" class="prjimage" width="100%">
    </div>
</div>
<hr />


<div class="row g-5 mb-5">
    <div class="col-md-6">
        <div class="papertitle" style="margin-bottom: 4px"><strong>
    8.	🍇 Grape leaf disease and pest diagnosis using convolution and transformer hybrid model [Paper, 2021.11]
            </strong></div>
        <p class="paragraph" style="margin-bottom: 10px">
            Proposed Ghost-convolution enlightened transformer (GeT) model for grape leaf symptoms diagnosis.
            Tested and evaluated models on the grape leaf disease and pest dataset (GLDP12k) that contains 12,615 
            images in 11 categories, and GeT surpassed other typical models.
        </p>
        <div class="btn-links" style="margin-bottom: 10px">
            <a class="btn btn-outline-primary btn-sm" href="https://github.com/HobbitArmy/GeT_model" target="_blank"
                rel="noopener">
                GitHub
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <img src="{{ site.baseurl }}/assets/img/r8_getModel.png" alt="r8_getModel" class="prjimage" width="100%">
    </div>
</div>
<hr />

<div class="row g-5 mb-5">
    <div class="col-md-6">
        <div class="papertitle" style="margin-bottom: 4px"><strong>
            7.	⚖️ Cascade 24-channels weighing system based on I2C bus [Project, 2020.11]            </strong></div>
        <p class="paragraph" style="margin-bottom: 10px">
            Designed the scalable data collection solution using I2C bus and a cascaded structure.
            Implemented a 24-channel weighing system with HD-711 AD module and low-power Arduino Pro Mini
            microcontroller.
        </p>
        <div class="btn-links" style="margin-bottom: 10px">
            <a class="btn btn-outline-primary btn-sm" href="https://www.bilibili.com/video/BV1a8411P734/"
                target="_blank" rel="noopener">
                Video
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <img src="{{ site.baseurl }}/assets/img/r6_weighingSystem.png" alt="r6_scheme" class="prjimage" width="100%">
    </div>
</div>
<hr />

<div class="row g-5 mb-5">
    <div class="col-md-6">
        <div class="papertitle" style="margin-bottom: 4px"><strong>
            6.	🍊 Citrus diameter estimation based on HSV color space [Project, 2020.10]            </strong></div>
        <p class="paragraph" style="margin-bottom: 10px">
            Segmented citrus instances in RGB image using HSV color model.
            Estimated the fruit size by measuring the length of the bounding rectangle.
        </p>
        <div class="btn-links" style="margin-bottom: 10px">
            <a class="btn btn-outline-primary btn-sm" href="{{ site.baseurl }}/assets/img/r7_linearRelationship.png"
                target="_blank" rel="noopener"> Linear
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <img src="{{ site.baseurl }}/assets/img/r7_sizer.png" alt="r7_sizer" class="prjimage" width="100%">
    </div>
</div>
<hr />

<div class="row g-5 mb-5">
    <div class="col-md-6">
        <div class="papertitle" style="margin-bottom: 4px"><strong>
            5.	💥 Soil heavy metal detection using LIBS and the signal enhancement method [Undergraduate Thesis, 2020.05]            </strong></div>
        <p class="paragraph" style="margin-bottom: 10px">
            Detected soil heavy metal containment using laser-induced breakdown spectroscopy (LIBS).
            Studied the Ar gas environment and light convergence chamber spectrum signal enhancement methods.
            Designed and simulated a LIBS batch testing platform using SOLIDWORKS.
        </p>
        <div class="btn-links" style="margin-bottom: 10px">
            <a class="btn btn-outline-primary btn-sm" href="{{ site.baseurl }}/assets/img/r5_libs.pdf" target="_blank"
                rel="noopener">
                Slides
            </a>
            <a class="btn btn-outline-primary btn-sm" href="{{ site.baseurl }}/assets/img/r5_CN212646487U.pdf" target="_blank"
                rel="noopener">
                Patent
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <img src="{{ site.baseurl }}/assets/img/r5_pca.png" alt="r5_pca" class="prjimage" width="100%">
    </div>
</div>
<hr />

<div class="row g-5 mb-5">
    <div class="col-md-6">
        <div class="papertitle" style="margin-bottom: 4px"><strong>
            4.	🚜 Integrated seeding and fertilizing seed-metering device [ZOOMLION-Cup Contest, 2019.08]            </strong></div>
        <p class="paragraph" style="margin-bottom: 10px">
            Designed and assembled a seeder that is capable of spraying liquid seedlings fertilizers while seeding. 
            I was responsible for electrical motor and valve control and parameters tuning.
        </p>
    </div>
    <div class="col-md-6">
        <img src="{{ site.baseurl }}/assets/img/r3_structure.jpg" alt="r3_structure" class="prjimage" width="100%">
    </div>
</div>
<hr />

<div class="row g-5 mb-5">
    <div class="col-md-6">
        <div class="papertitle" style="margin-bottom: 4px"><strong>
            3.	⚙️ Reciprocating mechanism based on curved-groove ball bearing [Patent, 2019.05]            </strong></div>
        <p class="paragraph" style="margin-bottom: 10px">
            Designed a reciprocating mechanism for compressor using the novel curved-groove ball bearing. 
            I was responsible for drawing the schematics and applying for the patent.
        </p>
        <div class="btn-links" style="margin-bottom: 10px">
            <a class="btn btn-outline-primary btn-sm" href="{{ site.baseurl }}/assets/img/r4_CN210050268U.pdf" target="_blank"
                rel="noopener">
                Patent
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <video width="100%" height="240" controls>
            <source src="{{ site.baseurl }}/assets/img/r4_rotation.mp4" type="video/mp4">
        </video>
    </div>
</div>
<hr />

<div class="row g-5 mb-5">
    <div class="col-md-6">
        <div class="papertitle" style="margin-bottom: 4px"><strong>
            2.	🌾 Weed identification based on UAV images [Provincial Project, 2018.05]            </strong></div>
        <p class="paragraph" style="margin-bottom: 10px">
            Collected and labeled a dataset for the detection of 5-kinds of weeds in wheat fields at seedling stage using UAV. 
            I have been appointed as the team leader and have secured funding for the project. I was responsible 
            for implementing and training real-time CNN models for weeds identification.
        </p>
        <div class="btn-links" style="margin-bottom: 10px">
            <a class="btn btn-outline-primary btn-sm" href="{{ site.baseurl }}/assets/img/r1_poster.pdf" target="_blank"
                rel="noopener">
                Poster
            </a>
            <a class="btn btn-outline-primary btn-sm" href="{{ site.baseurl }}/assets/img/r2_CN210503198U.pdf" target="_blank"
                rel="noopener">
                Patent
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <img src="{{ site.baseurl }}/assets/img/r1_weedsUAV.jpg" alt="r1_weedsUAV" class="prjimage" width="100%">
    </div>
</div>
<hr />

<div class="row g-5 mb-5">
    <div class="col-md-6">
        <div class="papertitle" style="margin-bottom: 4px"><strong>
            1.	🔋 Electric vehicle charging station network location planning method [ICM Contest, 2018.02]            </strong></div>
        <p class="paragraph" style="margin-bottom: 10px">
            Investigated the optimal placement of a charging stations to facilitate the growth of electric vehicles. 
            I was responsible for code implementation of polynomial curve fitting and multi-objective location model 
            using MATLAB.
        </p>
        <div class="btn-links" style="margin-bottom: 10px">
            <a class="btn btn-outline-primary btn-sm" href="{{ site.baseurl }}/assets/img/r2_thesisICM.pdf" target="_blank"
                rel="noopener">
                Thesis
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <img src="{{ site.baseurl }}/assets/img/r2_hm.png" alt="r2_hm" class="prjimage" width="100%">
    </div>
</div>
<hr />
