<script>

       $(document).ready(function () {
      var videoPath;
       $(".video-play-btn").click(function () {
        videoPath = $(this).data("src");
       });
       $("#myModal").on("shown.bs.modal", function (e) {
        $("#video").attr("src", videoPath);
       });
       $("#myModal").on("hide.bs.modal", function (e) {
        $("#video").attr("src", "");
       });
       });
      
</script>

<div class="row g-5 mb-5">
    <div>
        <h3 class="fw-bold border-bottom pb-1 mb-4">Teaching</h3>
        <h5 class="pb-1">Highlighted Lecture</h5>
        <div class="row g-5 mb-5 justify-content-md-left align-self-center">
              <!-- <div class="col-md-auto">
                <img src="{{ site.github.url }}/assets/img/cover.jpg" width="30%">
              </div>mt-3
              <div class="col-md-auto"><h4>Injection continuous liquid interface production of 3D objects</h4></div> -->
              <div class="col-sm-4">
                     <div class="hover_img">
                            <img src="assets/img/thumb.jpeg" style='width:100%' class="video-play-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/4OYhYDziklg?autoplay=1" data-target="#myModal">
                     </div>
              </div>
              <div class="col-sm align-self-center">
                     <a  class="video-play-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/4OYhYDziklg?autoplay=1" data-target="#myModal"><h4>Designing Data: Methods for 3D synthetic data generation for computer vision machine learning</h4></a>
                     <p class="word-wrap">UC Berkeley, Data 8</p>
                   </div>
       </div>
        <h5>Courses</h5>
       <p><a href="https://online.stanford.edu/courses/cee220a-building-modeling-design-construction">Building Modeling for Design and Construction - CEE220A (Stanford University, Summer 2022)</a> </p>
       <p>The foundational Building Information Modeling course introduces techniques for creating, managing, and applying of building information models in the building design and construction process. The course covers processes and tools for creating, organizing, and working with 2D and 3D computer representations of building components and geometries to produce models used in architectural design, construction planning and documentation, rendering and visualization, simulation, and analysis.
</p> 
       <p><a href="https://explorecourses.stanford.edu/search;jsessionid=19p7dfbwwzo60elo7olevkslh?q=CEE+220C%3a+Parametric+Design+and+Optimization&view=catalog&page=0&filter-coursestatus-Active=on&collapse=&academicYear=20212022">Parametric Design and Optimization, CEE 220C (Stanford University, Spring 2022)</a></p>
       <p>This course explores tools and techniques for computational design and parametric modeling as a foundation for design optimization. Class sessions will introduce several parametric design modeling platforms and scripting environments that enable rapid generation of 3D models and enable rapid evaluation of parametrically-driven design alternatives. Topics to be featured include: Principles of parametric design vs. direct modelingn, Design exploration using parametric modeling platforms (Revit/FormIt, Rhino), Visual scripting languages and environments (Dynamo, Grasshopper, DesignScript), Single- and multi-dimensional optimization techniques and guidance strategies.
</p> 
<h5>Tutorials and workshops</h5>
<p>Biodesign collaborative associate, Stanford University (2022-Present)</p>
<p>Graduate instructor, Uytengsu Teaching Lab, Stanford University (2023-Present)</p>
       <h5>Mentorship</h5>
        <p> William Pan (Stanford University Class of 2024)</p>
        <p> Geoffrey Toth (Lafayette College Class of 2021)</p>
        <p> Nolan Tok (HS student)</p>
</div>
</div>

<div class="modal fade" id="myModal">
       <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
       <div class="modal-body">
              <div class="row mb-1" id="closing" style="height:40px; overflow:hidden"><div type="col-8"></div><div type="col-4 text-right"><img style="height:50%; float: right;" src="assets/img/close.svg" type="button" class="close" data-dismiss="modal"></div></div>
       <div class="embed-responsive embed-responsive-16by9">
       <iframe id="video" style="float: center;" width="640" height="360" src="" title="Futuristic HUD" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       </div>
       </div>
     </div>
     </div>
     </div></div></div>