$backgroundColor: #000000;
$bodyColor: #ffffff;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$linkColor: #d5d5d5 !important;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.border-bottom {
  border-bottom-color: rgb(57, 57, 57) !important;
}


.border-top {
  border-top-color: rgb(57, 57, 57) !important;
}

body a {
  color: $linkColor
}


.word-wrap{word-wrap: break-word;}

.img-post {
  // max-width: 80%;
  align-content: center;
}

.modal-content{
  width: unset;
}

.img-profile {
  width: 80%;
  align-content: center;
  
}

.modal {
  text-align: center;
}

.modal::before {
  content: "";      
  display: inline-block;
  height: 100%;    
  margin-right: -4px;
  vertical-align: middle;
}

.modal-dialog { 
  display: inline-block;  
  text-align: left;   
  vertical-align: middle;
  margin-top: 10%;
  max-width: none;
}

.modal-body {
  color: #000000;
  background: #000000;
  width: fit-content;
  max-width: none;  
}

.iframe{
  z-index: 9999;
}

.modal-content {
  background: $backgroundColor;
  width: fit-content;
}

.hover_img:hover {
  cursor: pointer !important;
}

.close {
  transition: transform .7s ease-in-out;
}

.close:hover{
  opacity:0.5;
  transition: transform .7s ease-in-out;
  transform: rotate(45deg);
}

#closing {
  padding-top:0px !important;
  padding-bottom:0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.img-container{
  position:relative;
  display:inline-block;
}
.img-container .overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  transition:opacity 500ms ease-in-out;
}
.img-container:hover .overlay{
  opacity:1;
}
.overlay span{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:#fff;
}

// .close{
//   // margin-left: auto !important;
//   margin-right: 0  !important;
//   height: 100%;
// }