---
layout: default
---

{{ content }}

<!-- <object height="200" width="50" data="assets/Pink Floyd-If.mp3"></object> -->

<h3 class="fw-bold border-bottom pb-3 mb-5">Hobbies</h3>

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <b> 🎧 Listen to PinkFloyd </b>
    <!-- <p>{{ hobby.description }}</p> -->
    <p><a href="https://www.bilibili.com/video/BV1QU4y1j7md/?spm_id_from=333.337" 
      target = "_blank"> <i>"Pink Floyd - Money"</i> </a></p>
    <embed height="100" width="240"  src="assets/Pink Floyd-Money (2011 Remaster).mp3" autostart=true starttime="00:35" loop="true" >
  </div>
  <div class="col-md-6">
    <img src="assets/img/Cover.jpg" alt="Pink Floyd - The Dark Side Of The Moon (1973)" width="100%" >
  </div>
</div>
<hr />

{% for hobby in site.data.settings.hobbies %}
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <b>{{ hobby.name }}</b>
    <!-- <p>{{ hobby.description }}</p> -->
    <p><a href={{hobby.link}} target = "_blank"> {{hobby.description}}</a></p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/{{ hobby.image }}" alt={{hobby.name}} width="100%">
  </div>
</div>
<hr />
{% endfor %}
