---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    {{ content }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/profile.jpeg" alt="Home" width="100%">
  </div>
</div>


{% include publications.html %}
<h3 class="fw-bold border-bottom pb-3 mb-5">Twitter</h3>
<div class="col-md-8" style="float:none;margin:auto;">
  <a class="twitter-timeline" data-lang="en" data-height="400" data-width="600" data-theme="light" href="https://twitter.com/GabrielLipkowi2?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<!-- <div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div> -->